In [1]:
import pandas as pd
import numpy as np

In [56]:
df = pd.read_excel("demo_data.xlsx")
df.head()

,Brand,Channel,Start Date,End Date,Actual Discount,Plan Discount
0,X,HYPERMARKET,2019-02-01,18-01-2019,0.22,0.24
1,X,MINIMARKET,2019-02-01,28-01-2019,0.15,0.20
2,Y,HYPERMARKET,2019-01-01,18-02-2019,0.20,0.25
3,Z,MINIMARKET,2019-01-03,2019-04-03 00:00:00,0.15,0.20
4,Z,DISCOUNTER,2019-01-01,18-02-2019,0.20,0.25

In [74]:
end_date = df.at[0, 'End Date']
print(type(end_date))
end_date = datetime.datetime.strptime(end_date, '%d-%m-%Y').date()
print(type(end_date))
print(end_date)
start_date = df.at[0, 'Start Date']
start_date

<class 'str'>
<class 'datetime.date'>
2019-01-18

Timestamp('2019-02-01 00:00:00')

In [75]:
max_discount = max(df.at[0, 'Actual Discount'], df.at[0, 'Plan Discount'])
max_discount

0.24

In [76]:
import datetime
# format = '%d'
final_date = datetime.datetime.strptime('5/1/2019', '%d/%m/%Y')
print(final_date.date())
final_date.date()

2019-01-05

datetime.date(2019, 1, 5)

In [77]:
date_lst = ["5/1/2019", "12/1/2019", "19/1/2019"]
out_dict = {}
for i in date_lst:
    final_date = datetime.datetime.strptime(i, '%d/%m/%Y').date()
    print(final_date, start_date)
    if final_date.day>end_date.day:
        final_date = end_date
    out_dict[final_date] = {}
    out_dict[final_date]["HYPERMARKET"] = {}
    out_dict[final_date]["HYPERMARKET"]["VH"] = 0
    out_dict[final_date]["HYPERMARKET"]["H"] = 0
    out_dict[final_date]["HYPERMARKET"]["M"] = 0
    out_dict[final_date]["HYPERMARKET"]["L"] = 0
    if max_discount>=0.33:#VH
        count = final_date.day - start_date.day
        print(final_date.day - start_date.day)
        print(count)
        out_dict[final_date]["HYPERMARKET"]["VH"] = count
        start_date = final_date
    elif max_discount>=0.22:#H
        count = final_date.day - start_date.day
        print(final_date.day - start_date.day)
        out_dict[final_date]["HYPERMARKET"]["H"] = count
        start_date = final_date
        print(count)
    elif max_discount>=0.10:#M
        count = final_date.day - start_date.day
        print(final_date.day - start_date.day)
        out_dict[final_date]["HYPERMARKET"]["M"] = count
        start_date = final_date
        print(count)
    else:
        count = final_date.day - start_date.day
        print(final_date.day - start_date.day)
        out_dict[final_date]["HYPERMARKET"]["L"] = count
        start_date = final_date
        print(count)
    
    print(start_date)

2019-01-05 2019-02-01 00:00:00
4
4
2019-01-05
2019-01-12 2019-01-05
7
7
2019-01-12
2019-01-19 2019-01-12
6
6
2019-01-18

In [78]:
out_dict

{datetime.date(2019, 1, 5): {'HYPERMARKET': {'VH': 0, 'H': 4, 'M': 0, 'L': 0}},
 datetime.date(2019, 1, 12): {'HYPERMARKET': {'VH': 0,
   'H': 7,
   'M': 0,
   'L': 0}},
 datetime.date(2019, 1, 18): {'HYPERMARKET': {'VH': 0,
   'H': 6,
   'M': 0,
   'L': 0}}}

In [45]:
start_date.day

19

In [79]:
out_df = pd.DataFrame.from_dict(out_dict)
out_df

,2019-01-05,2019-01-12,2019-01-18
HYPERMARKET,"{'VH': 0, 'H': 4, 'M': 0, 'L': 0}","{'VH': 0, 'H': 7, 'M': 0, 'L': 0}","{'VH': 0, 'H': 6, 'M': 0, 'L': 0}"